<div class="crop"
     [style.width.px]="starWidth"
     [title]="rating">
    <div [style.width.px]="divWidthPx">
        <span class="glyphicon glyphicon-star" (click)="onClick(1)"></span>
        <span class="glyphicon glyphicon-star" (click)="onClick(2)"></span>
        <span class="glyphicon glyphicon-star" (click)="onClick(3)"></span>
        <span class="glyphicon glyphicon-star" (click)="onClick(4)"></span>
        <span class="glyphicon glyphicon-star" (click)="onClick(5)"></span>
    </div>
</div>